<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @reminder.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @reminder.date %>
</p>

<p>
  <strong>Type:</strong>
  <%= @reminder.reminder_type %>
</p>

<%= link_to 'Edit', edit_reminder_path(@reminder) %> |
<%= link_to 'Back', reminders_path %>
